:root {
	--cpu-accent: #117dbb;
	--cpu-accent-medium: #42a9e4;
	--cpu-accent-light: #d9eaf4;
	--cpu-accent-extralight: #f1f6fa;
	
	--window-background: #fff;
	--window-background-secondary: #f0f0f0;
	--window-text: #000;
	--window-text-light: #707070;
	--window-border-inactive: #4b4251;
	--window-border: #5c5a58;
	--window-accent: #4c4a48;
	--window-hover: #5e5c5b;
	--close-hover: #e81123;
	
	--divider-dark: #cfcfcf;
	--divider: #d9d9d9;
	--divider-light: #f2f2f2;
	
	--expand: #999999;
	--expand-hover: #000;
	
	--hover: #e5f3ff;
	--hover-border: #cce8ff;
	/*
		These are the exact colors identified by GIMP to
		match those in Windows, but they don't appear
		the same in browser. While less correct, it will
		be much easier to assume all colors are opaque.
	*/
	/* --hover: rgba(0, 191, 255, .217); */
	/* --hover-border: rgba(0, 191, 255, .395); */
	--active: #cce8ff;
	--active-border: #99d1ff;
	--tab-hover: #d8eaf9;
	
	--hyperlink: rgb(169, 169, 255);
	--hyperlink-hover: rgb(118, 118, 255);
}

body {
	margin: 0;
	background: #412f4d;
	font-family: 'Segoe UI', 'Roboto', sans-serif;
	font-size: 16px;
	color: rgb(226, 226, 226);
	min-height: 100%;
}
* {
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
	align-content: start;
	justify-content: center;
	padding: 0.8em 0.8em 2em;
	min-width: min-content;
}

.container > * {
	margin: 0 0.8rem 0.8rem 0;
}

.fullscreen .container > * {
	margin: 0;
}

.notTaskManager {
	max-width: 36rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.notTaskManager > * {
	margin-bottom: 0.8em;
}

.renderContainer {
	display: flex;
	align-items: center;
}

.renderContainer > * {
	margin: 0 1em;
}

a {
	color: var(--hyperlink);
	text-decoration: none;
}

a:visited {
	color: var(--hyperlink);
}

a:hover {
	color: var(--hyperlink-hover);
	text-decoration: underline;
}

button {
	padding: 0.4em 1em;
	font-weight: 600;
	border-radius: 5px;
	margin: 4px;
}

input {
	padding: 0.4em;
	margin: 0 0.2em;
	border-radius: 5px;
	width: 100%;
}

.inputContainer > input {
	width: unset;
}

/* If you have the Video Speed Controller extension, so it doesn't
   mess up the flex container */
.vsc-controller {
	margin: 0;
}

#source {
	max-height: 25rem;
}

#description {
	max-width: 30rem;
}

#options {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: start;
	gap: 20px;
}

#form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 30rem;
	gap: 1em 1.5em;
	break-after: always;
}

#form h1 {
	font-size: 1.5em;
	margin: 0 0 0.3em;
}

#form > .section {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: start;
}

#form > button[type='submit'] {
	grid-column: span 2;
	margin: auto;
}

#intermediate {
	min-width: 80px;
	min-height: 60px;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

#ctrlShiftEsc {
	position: absolute;
	z-index: 2;
}

.window {
	--scale: calc(var(--scale-raw) / 1.15);
	--hyperlink: #0066cc;
	--hyperlink-hover: #3399ff;
	font-size: calc(14px * var(--scale));
	background: var(--window-background);
	color: var(--window-text);
	display: grid;
	grid-template: "title" "menu" "content" 1fr "footer";
	height: calc(var(--window-height) * var(--scale));
	width: calc(var(--window-width) * var(--scale));
	min-width: calc(var(--window-width) * var(--scale));
	border: calc(1px * var(--scale)) solid var(--window-border);
	
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	
	white-space: nowrap;
}

.fullscreen > .container {
	padding: 0;
	overflow: hidden;
}

.fullscreen .window {
	border: none;
	width: 100vw;
	height: 100vh;
}

.fullscreen > .container > :not(.window):not(#ctrlShiftEsc) {
	display: none !important;
}

.maximize > .restore {
	display: none;
}
.fullscreen .maximize > .restore {
	display: unset;
}
.fullscreen .maximize > .max {
	display: none;
}

.window > div, .window > div > div,
.windowControls > div,
.mainContent > div,
.monitorContent > div,
.secondaryDetails {
	display: grid;
	grid-auto-flow: column;
}
.window .monitorContent, 
.window .tabContainer, 
.window .sideTabContainer,
.window .primaryDetails > .li {
	grid-auto-flow: row;
}

.titleBar {
	grid-area: title;
	grid-template-columns: 1fr auto;
	background: var(--window-accent);
	height: calc(34px * var(--scale));
	color: #fff;
}
.fullscreen .titleBar {
	height: calc(26px * var(--scale));
}
.inactive .titleBar {
	background: none;
	color: var(--window-text);
}
.titleContents {
	padding: calc(7px * var(--scale)) calc(9px * var(--scale));
	grid-template-columns: auto 1fr;
}
.fullscreen .titleContents {
	padding: calc(3px * var(--scale)) calc(2px * var(--scale));
}
.titleContents > div {
	padding-left: calc(5px * var(--scale));
}
.windowControls {
	align-content: stretch;
	column-gap: calc(1px * var(--scale));
}
.windowControls > div {
	height: calc(33px * var(--scale));
	width: calc(50px * var(--scale));
	align-content: center;
	justify-items: center;
	background: var(--background, var(--window-accent));
	transition: 200ms background;
}
.fullscreen .windowControls > div {
	height: calc(24px * var(--scale));
	width: calc(51px * var(--scale));
}
.windowControls > div > svg {
	height: calc(12px * var(--scale));
	width: calc(12px * var(--scale));
	stroke: currentColor;
	stroke-width: calc(1px * var(--scale));
	fill: transparent;
}
.windowControls > div:hover {
	--background: var(--window-hover);
}

.windowControls > div.close {
	display: flex;
	align-items: center;
	justify-content: center;
}

.close:before, .close:after {
	content: '';
	width: calc(1px * var(--scale));
	height: calc(14px * var(--scale));
	position: absolute;
	background: currentColor;
}

.close:before {
	transform: translate(-0.5px) rotate(45deg);
}

.close:after {
	transform: translate(-0.5px) rotate(-45deg);
}

.windowControls > div.close:hover {
	--background: var(--close-hover);
}
.fullscreen .windowControls > div.close {
	padding-right: calc(6px * var(--scale));
	padding-left: calc(2px * var(--scale));
}

.menuBar {
	grid-area: menu;
	justify-content: start;
	border-bottom: calc(2px * var(--scale)) solid var(--divider-light);
}
.menuBar > div {
	margin: 0 calc(-1px * var(--scale)) calc(-1px * var(--scale)) 0;
	border: calc(1px * var(--scale)) solid transparent;
	padding: 0 calc(7px * var(--scale)) calc(1px * var(--scale)) calc(6px * var(--scale));
}
.menuBar > div:hover {
	background: var(--hover);
	border-color: var(--hover-border);
}
.menuBar > div:active {
	background: var(--active);
	border-color: var(--active-border);
}

.tabContainer {
	grid-area: content;
	justify-content: stretch;
	grid-template-rows: auto 1fr;
}
.tabBar {
	border-bottom: calc(1px * var(--scale)) solid var(--divider);
	justify-content: start;
	padding: calc(2px * var(--scale)) calc(2px * var(--scale)) 0;
	margin-bottom: calc(5px * var(--scale));
}
.tabBar > div {
	padding: calc(2px * var(--scale)) calc(5px * var(--scale));
	border: calc(1px * var(--scale)) solid var(--divider);
	margin: calc(2px * var(--scale)) calc(-1px * var(--scale)) calc(-1px * var(--scale)) 0;
	background: var(--window-background-secondary);
}

.tabBar > div.active {
	margin-top: 0;
	padding: calc(2px * var(--scale)) calc(7px * var(--scale));
	background: var(--window-background);
	border-bottom-width: 0;
}
.tabBar > div:not(.active):hover {
	background: var(--tab-hover);
}

.mainContent {
	grid-template-columns: auto auto 1fr;
	margin: calc(2px * var(--scale));
	line-height: 1;
}

.sideTabContainer {
	width: calc(var(--sidebar-width) * var(--scale));
}

.mainContent > .separator {
	width: calc(1px * var(--scale));
	background: var(--divider);
	margin: calc(17px * var(--scale)) calc(3px * var(--scale)) calc(5px * var(--scale));
}

.monitorContent {
	grid-template-rows: auto auto 1fr auto;
	margin:
		calc(16px * var(--scale))
		calc(28px * var(--scale))
		calc(30px * var(--scale))
		calc(25px * var(--scale));
}

.titleArea {
	align-items: end;
}

.titleArea .title {
	font-size: calc(32px * var(--scale));
}

.titleArea .name {
	font-size: calc(18px * var(--scale));
}

.left {
	justify-self: start;
}

.right {
	justify-self: end;
}

.subtitleArea {
	margin: calc(13px * var(--scale)) calc(2px * var(--scale)) 0;
	color: var(--window-text-light);
	font-size: calc(12px * var(--scale));
}

/* Graphs */
#cores {
	--cell-size: calc(100% / var(--width));
	display: flex;
	flex: 1 0 var(--cell-size);
	flex-wrap: wrap;
	text-align: end;
	border: calc(1px * var(--scale)) solid var(--cpu-accent);
	margin: calc(5px * var(--scale)) 0 calc(38px * var(--scale));
}

#cores .cell {
	width: var(--cell-size);
	border: calc(1px * var(--scale)) solid var(--divider);
	border-left: none;
	border-top: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

#cores .percent {
	/* It is necessary to have the percentages not cause a layout update,
	   which absolute positioning does fix. This also applies to `#utilization`. */
	position: absolute;
	width: calc(36px * var(--scale));
}

#cores .background {
	background: var(--cpu-accent-medium);
	width: 100%;
	height: 100%;
}

.details {
	justify-content: start;
}

.value {
	font-feature-settings: "tnum";
}

.details .title {
	color: var(--window-text-light);
}

.window .primaryDetails {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: calc(233px * var(--scale));
	align-content: start;
}

.primaryDetails > .li {
	align-content: start;
	margin-right: calc(17px * var(--scale));
}

.primaryDetails .title {
	margin-bottom: calc(8px * var(--scale));
}

.primaryDetails .value {
	font-size: calc(22px * var(--scale));
	margin-bottom: calc(14px * var(--scale));
}

/* Fix the update killing performance */
.updating {
	position: absolute;
}

#uptime {
	display: flex;
}

#uptime > div:not(:last-child)::after {
	content: ':';
}

.secondaryDetails {
	line-height: 1.57;
	column-gap: calc(15px * var(--scale));
	margin-left: calc(5px * var(--scale));
}

.secondaryDetails > .title::after {
	content: ":";
}
.secondaryDetails > .value {
	grid-column: 2;
}

.footerBar {
	grid-area: footer;
	justify-content: start;
	align-items: center;
	gap: calc(9px * var(--scale));
	margin: calc(17px * var(--scale)) 0;
}
.footerBar > * {
	display: grid;
	align-items: center;
	grid-auto-flow: column;
}
.footerBar .icon.details {
	color: var(--expand);
	height: calc(22px * var(--scale));
	width: calc(22px * var(--scale));
	margin: 0 calc(8px * var(--scale));
	border-radius: 50%;
	border: calc(1px * var(--scale)) solid currentColor;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(18px * var(--scale));
}
.footerBar div:hover > .details {
	color: var(--expand-hover);
}

.footerBar .separator {
	width: calc(1px * var(--scale));
	height: 70%;
	background: var(--divider-dark);
}
.footerBar .icon {
	height: calc(16px * var(--scale));
	width: calc(16px * var(--scale));
	margin: 0 calc(6px * var(--scale)) 0 0;
}

.icon {
	height: calc(18px * var(--scale));
	width: calc(18px * var(--scale));
}

.keybind {
	text-decoration: underline;
}
